<div class="page-container">
  <h1>Light Level</h1>

  <!-- Watering Status -->
  <div class="watering-indicator">
    <div class="circle" [ngClass]="{ 'red': needsWatering }"></div>
    <p>{{ needsWatering ? 'Plant Needs Watering' : 'Plant is Well Watered' }}</p>
  </div>

  <!-- Gauge Component -->
  <app-gauge
    [value]="latestLightLevel"
    [label]="'Light level'"
    [color]="'#ffcf56'"
    [unit]="'%'">
  </app-gauge>

  <!-- Styled Light Level Value 
  <div class="light-value">
    <p>{{ latestLightLevel }} %</p>
  </div>
  -->
  <!-- Line Chart -->
  <div class="chart-container">
    <h3>Light Level Chart</h3>
    <div class="chart-controls">
      <button (click)="resetZoom()" class="reset-button">Reset Zoom</button>
    </div>
    <canvas baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            type="line"
            #chart>
    </canvas>
  </div>
</div>