<div class="page-container">
  <h1>Temperature</h1>

  <!-- Watering Status -->
  <div class="watering-indicator">
    <div class="circle" [ngClass]="{ 'red': needsWatering }"></div>
    <p>{{ needsWatering ? 'Plant Needs Watering' : 'Plant is Well Watered' }}</p>
  </div>

  <!-- Styled Temperature Value -->
  <div class="temperature-value">
    <p>{{ latestTemperature }}°C</p>
  </div>

  <!-- Line Chart -->
  <div class="chart-container">
    <h3>Temperature Chart</h3>
    <div class="chart-controls">
      <button (click)="resetZoom()" class="reset-button">Reset Zoom</button>
    </div>
    <canvas baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            type="line"
            #chart>
    </canvas>
  </div>
</div>