<div class="page-container">
  <h1>Soil Moisture</h1>
  <!-- Watering Status -->
  <div class="watering-indicator">
    <div class="circle" [ngClass]="{ 'red': needsWatering }"></div>
    <p>{{ needsWatering ? 'Plant Needs Watering' : 'Plant is Well Watered' }}</p>
  </div>
  <!-- Gauge Component -->
  <app-gauge
    [value]="latestMoisture"
    [label]="'Soil Moisture'"
    [color]="'#4CAF50'"
    [unit]="'%'">
  </app-gauge>
  <!-- Styled Moisture Value 
  <div class="moisture-value">
    <p>{{ latestMoisture }} %</p>
  </div>
  -->
  <!-- Line Chart -->
  <div class="chart-container">
    <h3>Soil Moisture Chart</h3>
    <div class="chart-controls">
      <button (click)="resetZoom()" class="reset-button">Reset Zoom</button>
    </div>
    <canvas baseChart
      [data]="lineChartData"
      [options]="lineChartOptions"
      type="line"
      #chart>
    </canvas>
  </div>
</div>