<div class="page-container">
  <h1>Humidity</h1>

  <!-- Watering Status -->
  <div class="watering-indicator">
    <div class="circle" [ngClass]="{ 'red': needsWatering }"></div>
    <p>{{ needsWatering ? 'Plant Needs Watering' : 'Plant is Well Watered' }}</p>
  </div>
  <!-- Gauge Component -->
  <app-gauge
    [value]="latestHumidity"
    [label]="'Humidity'"
    [color]="'#4682B4'"
    [unit]="'%'">
  </app-gauge>
  <!-- Styled Humidity Value 
  <div class="humidity-value">
    <p>{{ latestHumidity }}%</p>
  </div>
  -->
  <!-- Line Chart -->
  <div class="chart-container">
    <h3>Humidity Chart</h3>
    <div class="chart-controls">
      <button (click)="resetZoom()" class="reset-button">Reset Zoom</button>
    </div>
    <canvas baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            type="line"
            #chart>
    </canvas>
  </div>
</div>